*{
margin: 0;
padding: 0;
}
body{
margin: 0;
padding: 0;
}
.sidenav{
height: 100vh;
background-color: antiquewhite;
}

.sidenav img{
clip-path: circle();
}

/* Dashboard starts */

.dash{
padding: 2%;
height: 78vh;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.maindata{
display: flex;
gap: 2%;
flex-wrap: wrap;
}
.getdat{
border: 2px solid #111111;
}



.getdat img{
height: 200px;
}

.productdata{
height: 400px;
width: 250px;
padding: 2%;
border: 2px solid #111111;
}

.productdata img{
height: 200px;
width: 100%;
}


.rowcoldas{
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  background-color: aqua;
 

}



.sidenavbar{
  height: 100vh;
  background-color: antiquewhite;
}