*{
margin: 0;
padding: 0;
}
body{
margin: 0;
padding: 0;
overflow-x: hidden;
}
.rowcoldas{
  display: flex;
  background-color: aqua;
 

}
.sidenavbar{
  height: 100vh;
  background-color: antiquewhite;
  width: 200px;
  position: fixed;
}
.maindata{

 
  display: flex;
  flex-wrap: wrap;
  
  
}
.productdata{
  height: 300px;
  width: 250px;
  
  border: 2px solid #111111;
}
.productdata img{
  height: 200px;
  width: 100%;
}
.maindata2{
  display: flex;
  flex-wrap: wrap;
}

.tvData{
  height: 300px;
  width: 250px;
  
  border: 2px solid #111111;
}
.tvData img{
  height: 200px;
  width: 100%;
}



.buttonsprolis{
  display: flex;
  color:green
  
}
.buttonsprolis button{
  margin-right: 30px;
  margin-left: 60px;
  margin-top: 300px;
  width: 100px;
  height: 100px;
}